## Ignore reppl state db.
##  (It doesn't git-diff well.  The next generation tool -- hitch -- will address this.)
/.reppl

## Ignore pinned formulas that reppl generates.
##  We can regenerate them trivially.
/*.pin

## Ignore our local storage for packed wares.
##  We can reproduce them...!!
/wares/
